body {
    /* background: rgb(5,21,55);
    background: linear-gradient(180deg, rgba(5,21,55,1) 0%, rgba(8,116,164,1) 49%, rgba(72,156,201,1) 100%); */
    background: rgb(17,26,41);
    background: linear-gradient(180deg, rgba(17,26,41,1) 0%, rgba(54,59,68,1) 50%, rgba(66,60,55,1) 100%);
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:700;
    font-size: 50px;
    letter-spacing: 10px;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:400;
    font-size: 18px;
    margin-bottom: 40px;
    letter-spacing: 5px;
    color: #dadada;
}

.container {
    text-align: center;
    min-height: 100vh;
}

#celeb-name-here {
    font-size: 95px;
    color: #ffffff;
}

#search-box {
    padding-left: 50px;
    padding-right:50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-style: solid;
    border-width: 8px;
    border-color: #ffffff;
    background-color: #dbe1e9;
    width:50%;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;

}

.card {
    display: inline-block;
    width: 18rem;
}

.center {
    margin: 0, auto;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:700;
    padding-left: 50px;
    padding-right:50px;
    padding-top: 35px;
    padding-bottom: 32px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 5px;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 5px;
    background: #182848;
    color: #ffffff;
    /* background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%); */

}

#card {
    font-family: 'Josefin Sans', sans-serif;
background-color: none;
margin-right: 20px;
}

#image1{
    height:500px;
}

#image2{
    height: 500px;
}

#image3{
    height: 500px;
}